<div class="container">

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': (f.email.dirty || f.email.touched) && f.email.errors}">
      <div class="invalid-feedback" *ngIf="f.email.errors">
        <div *ngIf="f.email.errors.required">Name is Required</div>
        <div *ngIf="f.email.errors.pattern">Patternired</div>
      </div>
    </div>
    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="fullName" formControlName="fullName" class="form-control" [ngClass]="{'is-invalid': (f.email.dirty || f.email.touched) && f.fullName.errors}">
      <div class="invalid-feedback" *ngIf="f.fullName.errors">
        <div *ngIf="f.fullName.errors.required">Name is Required</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Register</button>
    </div>
  </form>

</div>
